:root {
  /* dark bg (hero, footer */
  --head-foot-bg: #1F2937; /* info header, quote text */
  /* hero main text */
  --hero-ts: 48px;
  --hero-tw: bold;
  --hero-tc: #F9FAF8; /* header logo text */
  /* hero secondarytext, header links */
  --text-sec: 18px;
  --text-color-sec: #E5E7EB;/* header links, quote section bg */
  --text-logo-s: 24px;
  /* btn color, call to action bg */
  --btn-bg: #3882F6;
  --btn-tx: white;
  /* info header text */
  --info-ts: 36px;
  --quote-text: ligthItalic;
  /* text width on page */
  --width-100: 100%;
  --width: 1000px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Serif', serif;
}

body {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

header, .hero{
  background-color: var(--head-foot-bg);
  width: var(--width-100);
}

.header-wrap {
  width: var(--width);
  justify-content: space-between;
  margin: auto;
}

.header-wrap h3 {
  color: var(--hero-tc);
  font-size: var(--text-logo-s);
}

.links a {
  text-decoration: none;
  color: var(--text-color-sec);
  font-size: var(--text-sec);
  margin-left: 20px;
}

.hero {
  padding: 100px 0 150px 0;
}

.hero__content {
  width: var(--width);
  margin: auto;
  gap: 40px;
  align-items: flex-start;
}

.hero__content-text {
  flex-basis: 40%;
}

.hero__content-text h1 {
  font-size: var(--hero-ts);
  font-weight: var(--hero-tw);
  color: var(--hero-tc);
  margin: 0;
}

.hero__content-text p {
  color: var(--text-color-sec);
  font-size: var(--text-sec);
  margin: 0;
}

.hero__content-text button {
  background-color: var(--btn-bg);
  color: var(--btn-tx);
  padding: 10px 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

.hero__content .image {
  flex-basis: 60%;
  background-image: url('https://cdn.pixabay.com/photo/2022/08/18/11/29/wind-energy-7394705_960_720.jpg');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 230px;
}

