:root {
  /* dark bg (hero, footer */
  --head-foot-bg: #1F2937; /* info header, quote text */
  /* hero main text */
  --hero-ts: 48px;
  --hero-tw: extra-bold;
  --hero-tc: #F9FAF8; /* header logo text */
  /* hero secondarytext, header links */
  --text-sec: 18px; 
  --text-color-sec: #E5E7EB;  /* quote section bg */
  --text-logo-s: 24px;
  /* btn color, call to action bg */
  --btn-bg: #3882F6;
  /* info header text */
  --info-ts: 36px;
  --quote-text: ligth italic;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--head-foot-bg);
}